<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>

  <!-- Ensure that everything scales appropriately on a mobile device -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <!-- Let's borrow a cool looking Font from Google -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="app/app.css">

</head>

<body>

  <div id="react"></div>

  <div id="bg"></div>

  <div id="gameArea"></div>

  <!-- Main Title Screen that appears when the page loads for the first time -->
  <script id="intro-screen-template" type="text/template">

    <div class="titleWrapper">

      <div class="title">
        <h1>Quizify</h1>
      </div>

      <div class="buttons">

        <button id="btnCreateGame" class="btn">CREATE</button>
        <button id="btnJoinGame" class="btn">JOIN</button>
        <div style="clear:both"></div>
      </div>

    </div>

  </script>

  <!-- This screen appears when a user clicks "CREATE" on the Title Screen -->
  <script id="create-game-template" type="text/template">
    <div class="createGameWrapper">

      <div class="info">Open this site on your mobile device:</div>
      <div id="gameURL" class="infoBig">Error!</div>

      <div class="info">Then click <strong>JOIN</strong> and <br/> enter the following Game ID:</div>
      <div id="spanNewGameCode" class="gameId">Error!</div>

      <div id="playersWaiting"></div>
    </div>
  </script>

  <!-- This scrreen appears when a player clicks "JOIN" on the Title Screen -->
  <script id="join-game-template" type="text/template">
    <div class="joinGameWrapper">
      <div class="info">
        <label for="inputPlayerName">Your Name:</label>
        <input id="inputPlayerName" type="text" />
      </div>

      <div class="info">
        <label for="inputGameId">Game ID:</label>
        <input id="inputGameId" type="text"/>
      </div>

      <div class="info buttons">
        <button id="btnJoin" class="btn">ENTER</button>
        <button id="btnStart" class="btn hide">START!</button>
        <div id="playerWaitingMessage">
          <p></p>
        </div>
      </div>
    </div>
  </script>

  <!-- This is the 'Host' screen. It displays the word for each player to match -->
  <script id="host-game-template" type="text/template">
    <div id="wordArea">
    <p class="artist"></p>
    <p class="song"></p>
    <img class="cover" src="" alt="">
      <div id="hostWord">5</div>
    </div>
    <div id="playerScores">
      <div class="playerScoreWrapper">
        <% _.forEach(players, function(player, i) { %>
          <div id="player<%- i + 1 %>Score" class="playerScore">
            <span class="score" id="<%- player.mySocketId %>">0</span><span class="playerName"><%- player.playerName %></span>
          </div>
        <% }); %>
      </div>
    </div>
  </script>

  <!-- LiveReoad should preferably be injected dynamically, test after express has been upgraded to 4.x -->
  <script src="//localhost:35729/livereload.js"></script>

  <script src="app/app.js"></script>

</body>
</html>
